.cat-header {
  background-image: url(../img/kiko-zape.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

}

.cat-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; 
  gap: 40px; 
  padding: 20px 5px 40px 5px;
}
.kitten-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  transition: 0.25s all;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  text-align: center;
  height: 400px;
}

.kitten-image {
    width: 70%;
    height: 80%;
    padding-top: 10px;
}

.subtitle {
  text-align: center;
}

.btn-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.cat-btn {
  padding: 5px;
  border-radius: 5px;
  background-color:  rgb(213, 212, 209, 0.5);
  font-weight: 600;
}

.cat-random-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0 150px 0;
  gap: 10px;
}
.random-cat-img {
  width: 20%;
  height: auto;
}


@media screen and (max-width: 500px) {

.random-cat-img {
  grid-template-columns: repeat(1, 1fr);
}
}