.dog-header {
    background-image: url(../img/sleeping-dog.jpg);
}
.search-dog_form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.select-dog_form {
    font-size: 15px;
    padding: 3px;
}

.result-form {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.dog-img {
    width: 30%;
    border-radius: 10px;
    max-height:min-content;
}
.dog-description {
    width: 30%;
    text-align: center;
    font-size: 20px;
}
.dog-description.quote {
    font-size: 30px;
    font-weight: 700;
    font-family: "Permanent Marker";
    padding: 80px 20px 80px 0;
}

@media screen and (max-width: 700px) {
    .result-form {
        gap: 50px;
        margin-top: 30px;
    }

    .dog-description {
        font-size: 14px;
        width: 50%
    }
    .dog-description.quote {
        font-size: 14px;
        padding: 60px 20px 60px 20px;
    }

    .dog-img {
        width: 50%;
        padding-right: 20px;
    }
    
}